<div class="layout-footer">
    <div class="footer-content">

    </div>

    <div class="footer-links">
        
        <div class="footer-social">
            <a href="https://www.facebook.com/profile.php?id=61559048226709&mibextid=LQQJ4d" target="_blank">
                <img src="assets/layout/images/icon-facebook.png" alt="Facebook" class="social-logo">
            </a>
            <a href="https://www.tiktok.com/@alcaldiapopayan?_t=8rCn7U1SITw&_r=1" target="_blank">
                <img src="assets/layout/images/icono-tiktok.png" alt="Tiktok" class="social-logo">
            </a>
            <a href="https://www.instagram.com" target="_blank">
                <img src="assets/layout/images/icono-insta.png" alt="Instagram" class="social-logo">
            </a>
        </div>

        <div class="footer-contact">
            <p><strong>Horarios de Atención:</strong> Lunes a viernes: 8:00 a.m. a 12:00 m
                y de 2:00 p.m. a 5:00 p.m.</p>
            <p><strong>Dirección:</strong> Casona del Pueblito, Popayán</p>


            <p><strong>Pide una cita:</strong> <a href="https://docs.google.com/forms/d/e/1FAIpQLSdn3v4T6ZEfDE7W5fqy3434_GqXLrwdB1JEHxS0l1Y4BCkxfA/viewform" target="_blank">Formulario de cita</a></p>
        </div>


        <div class="footer-contact">
            <span>Contáctenos: <a href="mailto:info@secretariadafe.com">Enviarnos un Correo</a></span>
        </div>


        <div class="footer-text">
            <span>by <a href="https://popayan.gov.co/SecretariasyEntidades/secDafe/Paginas/default.aspx#gsc.tab=0" target="_blank" class="footer-link">Secretaría DAFE</a></span>
        </div>
    </div>
</div>
