body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9; /* Fondo suave para mayor contraste */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5a5a5a; /* Color más oscuro para la barra de navegación */
    padding: 15px 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Sombra suave para la barra de navegación */
}

.logo h1 {
    color: white;
    margin: 0;
    font-size: 2.5em; /* Aumentar el tamaño del logo */
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff; /* Blanco para el texto de los enlaces */
    font-weight: bold;
    transition: color 0.3s, transform 0.3s; /* Añadir transición para el hover */
}

.nav-links a:hover {
    color: #ffcc00; /* Amarillo brillante al pasar el mouse */
    transform: scale(1.1); /* Efecto de escalado al pasar el mouse */
}

.logout-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #dc3545; /* Color de fondo del botón de cerrar sesión */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; /* Transiciones suaves */
    font-size: 1em;
}

.logout-button:hover {
    background-color: #c82333; /* Color más oscuro al pasar el mouse */
    transform: scale(1.05); /* Efecto de escalado al pasar el mouse */
}

.welcome-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #ffffff; /* Fondo blanco para mayor claridad */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Sombra más pronunciada */
    text-align: center;
}

.welcome-container h1 {
    font-size: 2.5em;
    color: #333333; /* Color más oscuro para el texto */
    margin-bottom: 20px;
}

.welcome-container p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #555555; /* Color gris para el texto de párrafos */
}
