body {
  font-family: Arial, sans-serif; 
  font-size: 1em; 
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

h2{
font-family: Arial, sans-serif; 
font-size: 2em; 
}

.card {
  width: 100%;
  max-width: 500px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  font-family: Arial, sans-serif; 
  font-size: 1em; 
}

.card-header {
  background-color: #8f8f8f;
  color: white;
  padding: 1.5rem;
  text-align: center;
  font-family: Arial, sans-serif; 
  font-size: 1em; 
}

.card-body {
  padding: 2rem;
}

.list-unstyled {
  padding-left: 0;
}

.list-unstyled li {
  margin-bottom: 0.5rem;
}

.list-unstyled i {
  color: #28a745;
  margin-right: 0.5rem;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-control {
  width: 95%;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 10px;
  transition: border-color 0.3s;
  font-family: Arial, sans-serif; 
  font-size: 1em; 
}

.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-submit-container {
  text-align: center;
}


.cambiarpasswor {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 0.25rem;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: Arial, sans-serif; 
  font-size: 1em; 
}

.cambiarpasswor:hover {
  background-color: #0056b3;
}

.cambiarpasswor:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}
