<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div class="navbar">
    <div class="logo">
        <h1>DAFE</h1>
    </div>
    <ul class="nav-links">
        <li><a routerLink="/welcome">Investigador</a></li>
        <li><a routerLink="/welcome">Perfil</a></li>
        <li><a routerLink="/welcome">Configuración</a></li>
        <li><a routerLink="/welcome">Ayuda</a></li>
    </ul>
    <button (click)="logout()" class="logout-button">Cerrar sesión</button>
  </div>

  <div class="welcome-container">
    <h1>Estamos emocionados de tenerte aquí. Explora nuestras
         funciones y disfruta de la experiencia. {{ currentUser ? currentUser.username : '' }}!</h1>
  </div>

  <div class="card bg-dark text-black">
    <div class="card-header"><p-tag severity="primary" value="{{ titulo }}"></p-tag></div>
    <div class="card-body">
      <form>
        <div class="form-grid">
          <div class="form-group">
            <label for="titulo">Titulo</label>
            <input type="text" class="form-control" [(ngModel)]="proyecto.titulo" name="titulo" placeholder="Escribe el título del proyecto">
          </div>
          <div class="form-group">
            <label for="descripcion">Descripción</label>
            <input type="text" class="form-control" [(ngModel)]="proyecto.descripcion" name="descripcion" placeholder="Describe brevemente el proyecto">
          </div>
          <div class="form-group">
            <label for="poblacionObjetivo">Población Objetivo</label>
            <input type="text" class="form-control" [(ngModel)]="proyecto.poblacionObjetivo" name="poblacionObjetivo" placeholder="¿Quién se beneficiará del proyecto?">
          </div>
          <div class="form-group">
            <label for="justificacion">Justificación</label>
            <input type="text" class="form-control" [(ngModel)]="proyecto.justificacion" name="justificacion" placeholder="¿Por qué es importante este proyecto?">
          </div>
          <div class="form-group">
            <label for="presupuesto">Presupuesto</label>
            <input type="text" class="form-control" [(ngModel)]="proyecto.presupuesto" name="presupuesto" placeholder="Indica el presupuesto estimado">
          </div>
          <div class="form-group">
            <label for="resultadosEsperados">Resultados Esperados</label>
            <input type="text" class="form-control" [(ngModel)]="proyecto.resultadosEsperados" name="resultadosEsperados" placeholder="¿Qué esperas lograr?">
          </div>
          <div class="form-group">
            <label for="observaciones">Observaciones</label>
            <input type="text" class="form-control" [(ngModel)]="proyecto.observaciones" name="observaciones" placeholder="Notas adicionales">
          </div>
          <div class="form-group">
            <label for="estado">Estado</label>
            <input type="text" class="form-control" [(ngModel)]="proyecto.estado" name="estado" placeholder="Estado actual del proyecto">
          </div>
        </div>
        <div class="form-actions">
          <button class="btn btn-primary" type="button" (click)='mostrarVistaPrevia()'>Vista Previa</button>
        </div>
      </form>
    </div>
  </div>


