<div class="layout-footer">
    <div class="footer-images">
        <img src="assets/layout/images/escudo-popayan.png" alt="Escudo Popayán" class="footer-logo">
        <div class="footer-banner-container">
            
        </div>
    </div>

    <div class="footer-content">
        <span class="footer-text">by <span class="font-medium">Secretaría DAFE</span></span>
    </div>

    <div class="footer-links">
        <div class="footer-contact">

            <p>Contáctenos: <a href="/">Enviamanos un Correo</a></p>
        </div>
        <div class="footer-social">
            <a href="https://www.facebook.com" target="_blank">
                <img src="assets/layout/images/icon-facebook.png" alt="Facebook" class="social-logo">
            </a>
            <a href="https://www.tiktok.com" target="_blank">
                <img src="assets/layout/images/icono-tiktok.png" alt="Tiktok" class="social-logo">
            </a>
            <a href="https://www.instagram.com" target="_blank">
                <img src="assets/layout/images/icono-insta.png" alt="Instagram" class="social-logo">
            </a>
        </div>
    </div>
</div>
